.card form button {
  background-color: #ff5722;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.card form button:hover {
  background-color: var(--light-blue);
}

.card form .password-input-container {
  position: relative;
}

.card form .password-input-container input {
  padding-right: 40px;
}

.card form .password-input-container .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
