.password {
  position: relative;
  width: 100%;
  .icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust right spacing from the input */
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;

    &:hover {
      color: #999; /* Lighter color on hover */
    }
  }
}
